# TensorRT and ONNX ecosystem
onnxruntime-gpu==1.19.2
onnxscript
tensorrt
opencv-python
pycuda

# PyTorch
torch==2.8.0
torchvision==0.23.0
torchaudio==2.8.0
--extra-index-url https://download.pytorch.org/whl/cu128

# OpenAI CLIP
git+https://github.com/openai/CLIP.git

# HuggingFace
safetensors
transformers