# ================================
# TensorRT / ONNX / CUDA stack
# ================================
--extra-index-url https://pypi.nvidia.com

tensorrt==10.8.*
onnxruntime-gpu==1.19.2
onnxscript==0.1.0
pycuda==2024.1
cupy-cuda12x
optimum[onnxruntime]
scikit-image
opencv-python-headless

# ================================
# PyTorch (CUDA 12.8)
# ================================
--extra-index-url https://download.pytorch.org/whl/cu128

torch==2.8.0
torchvision==0.23.0
torchaudio==2.8.0

# ================================
# OpenAI CLIP
# ================================
git+https://github.com/openai/CLIP.git

# ================================
# HuggingFace
# ================================
transformers
safetensors

netron
pycocotools
accelerate